* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: rgb(17, 17, 17);
}

.wrapper {
   animation: rotate 10s linear  infinite;
}

.circle__section {
    position: relative;
    margin-top: 10rem;
    transform: rotateY(60deg) rotateX(-30deg);
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px dotted white;
    border-radius: 50%;
    animation: wave 500ms linear infinite alternate ;
    transform-origin: top;
}


.circle:nth-child(1) {
    height: 8rem;
    width: 8rem;
    animation-delay: 100ms;
}
.circle:nth-child(2) {
    height: 7rem;
    width: 7rem;
    animation-delay: 200ms;
}
.circle:nth-child(3) {
    height: 6rem;
    width: 6rem;
    animation-delay: 300ms;
}
.circle:nth-child(4) {
    height: 5rem;
    width: 5rem;
    animation-delay: 400ms;
}
.circle:nth-child(5) {
    height: 4rem;
    width: 4rem;
    animation-delay: 500ms;
}
.circle:nth-child(6) {
    height: 3rem;
    width: 3rem;
    animation-delay: 600ms;
}
.circle:nth-child(7) {
    height: 2rem;
    width: 2rem;
    animation-delay: 700ms;
}
.circle:nth-child(8) {
    height: 1rem;
    width: 1rem;
    animation-delay: 800ms;
}

@keyframes wave {
    from {
        transform: scale(1) translate(-77%, -77%);
    }
    to {
        transform: scale(1.5) translate(-0%, -37%);
    }
    
}

@keyframes rotate {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }
    
}