@import url('https://fonts.cdnfonts.com/css/franklin-gothic');

* {
    font-family: 'Franklin Gothic', sans-serif;
    color: #ffe81f;
}

body {
    height: 100vh;
    background-color: rgb(28, 28, 28);
    background-image: url(./jeremy-perkins-uhjiu8FjnsQ-unsplash.jpg);
    background-size: cover;
    overflow: hidden;
    perspective: 150px;
    position: relative;
}

.wrapper {
    position: absolute;
    width: 100%;
    top: 100vh;
    animation: storm-trooper 10s linear 100ms infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    width: fit-content;
    font-size: 6rem;
}

h2 {
    font-size: 3rem;
    letter-spacing: 2px;
}

p {
    width: fit-content;
    font-size: 3rem;
    letter-spacing: 2px;
    line-height: 1.3em;
    text-align: justify;
    max-width: 70vw;
}

@keyframes storm-trooper {
    0% {
        transform: translateY(0) rotateX(30deg) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-1000px) rotateX(30deg) scale(0);
        opacity: 1;
    }
}

/* GLÖM INTE "A long long time ago" med blå text! */