* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 6rem auto;
    min-height: 20rem;
    width: 30rem;
    display: flex;
    justify-content: center;
}

section{
    width: 14rem;
    height: 20rem;
    transition: 2s;
}

.pink {
    background-color: rgb(243,179,210);
}
.purple {
    background-color: rgb(199,120,245);
}
.blue-darker {
    background-color: rgb(106,116,252);
}
.blue-lighter {
    background-color: rgb(92,235,253);
}
.green-darker {
    background-color: rgb(53,206,135);
}
.green-lighter {
    background-color: rgb(85,255,65);
}
.yellow {
    background-color: rgb(249,249,49);
}
.orange {
    background-color: rgb(254,146,25);
}
.red{
    background-color: rgb(255,7,9);
}

.wrapper:hover .first {
    transform: translateX(65%) rotateZ(22deg);
}

.wrapper:hover .fan {
    transition-delay: 2s;
    transform: translateX(-10%) rotateZ(-6deg);
    transform-origin: center bottom;
}
